
/*
  Styles implementing markup in roles.incl used mainly in param files

  We also define some styles used by the "par" extensions because we want them
  to share definitions with some of the roles
*/
.p, .param-style{
  font-family: "Courier";
  font-weight: bold; 
  color: #000066;
}
.g, .param-style-var-comp{
  font-weight: bold;
  font-style: italic;
  color: #660099;
}
.s{
  font-style: italic;
/*  color: #006600; */
}
.t, .param-type-style{
  color: #660000;
  font-family: courier;
  font-weight: bold;
}
.d{
  font-weight: bold;
  font-family: courier;
   color: #006600; 
}
.e{
/*  font-style: italic; */
/*  color: #006600; */
}
.o{
  font-weight: bold;
  color: #ff0000;
}
