Dan_test
*.a
*.o
*~
*.pyc
gmon.out
log.build
*out.scons*
template_defs.de*.h
.scon*
test/START
test/STOP
include
build
bin/enzo-p
charmrun
config.log
errors.org
warnings.org
test/CHARM_BUILD
test/CHARM_VERSION

# ignore directories used for building branches
build-*/Cello/*
build-*/Enzo/*
build-*/External/*
build-*/SConscript

# ignore the binaries
bin/enzo-p
bin/enzo-p.prev