*~
build
build-*
charmrun
config.log
errors.org
gmon.out
include
lib
log.build
*out.scons*
*.pyc
.scon*
template_defs.de*.h
test/CHARM_BUILD
test/CHARM_VERSION
test/START
test/STOP
include
build
charmrun
config.log
errors.org
warnings.org

# ignore directories used for building branches
build-*/Cello/*
build-*/Enzo/*
build-*/External/*
build-*/SConscript

# ignore the binaries
bin/enzo-e
bin/enzo-e.prev
