# This is a pip requirements.txt file used by Read the Docs to make sure all
# sphinx extensions have been installed.
breathe

# there are some issues with getting option-lists to render correctly
#     https://github.com/readthedocs/sphinx_rtd_theme/issues/979
# currently, we're just pinning to a version that rendered things correctly on
# a local machine
sphinx==3.1.1
sphinx_rtd_theme==0.5.0
